@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding:0;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: hsl(193, 80%, 6%)
   
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Scrollbar Modification */
::-webkit-scrollbar {
  width: 6px; /* Adjust the width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent; /* Track background color */
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.6); /* Thumb color */
  border-radius: 10px; /* Rounded corners for the thumb */
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.911);
  border-radius: 10px; /* Thumb color on hover */
}
